/* This file is for your main application css. */
@import "./phoenix.css";
@import "../node_modules/nprogress/nprogress.css";

spinner.loading {
  display: none;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 106px;
  height: 106px;
}
.spinner.loading:before {
  content: "";
  height: 120px;
  width: 120px;
  position: absolute;
  top: 0;
  left: 0;
  border-width: 8px;
  border-style: solid;
  border-color: #770505 #ccc #ccc;
  border-radius: 100%;
  animation: rotation .7s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.required-config{
  color: red;
  font-size: 1em;
}

#spinnerText{
  font-size: 2.2em;
  font-weight: bolder;
  font-variant: small-caps;
  padding-top: 35%;
  text-align: center;
  vertical-align: middle;
}

.main-footer {
  height: 70px;
  background-color: rebeccapurple;
  opacity: 0.8;
}

.main-footer .container {
  height: 120px;
  width: 120px;
  position: absolute;
  bottom: 5px;
  border-radius: 50%;
  opacity: 1;
  background-image: linear-gradient(red, yellow);
  border: 1px solid rgb(168, 159, 159);
  box-shadow: 0 2px 5px rgba(201,209,230,.5), 0 7px 20px rgba(201,209,230,.75);
  cursor: pointer;
 // center item
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
}

.current-stats{
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  width: 90%;
  min-height: 150px;
  box-shadow: 0 2px 5px rgba(201,209,230,.5), 0 7px 20px rgba(201,209,230,.75);
  margin: auto;
  margin-bottom: 50px;
  margin-top: 20px;
  padding: 10px;
  font-size: 2em;
}

.current-stats > div {
  width: 50%;
}

.finish-check {
  color: #cc00ff;
}

.file-list {
  margin: auto;
  width: 90%;
  box-shadow: 0 2px 5px rgba(201,209,230,.5), 0 7px 20px rgba(201,209,230,.75);
}

.file-list-item {
  min-height: 100px;
  font-size: 1.5em;
}

.file-name, .file-path, .file-size, .row_count, .records_inserted, .status {
  display: block;
}

.progress {
  height: 25px !important;
}

.progress-percentage{
  color: black;
  font-size: 2.5em;
  font-weight: bold;
}

.stage_pending, 
.stage_infer_schema, 
.stage_loading_schema,
.stage_insert_data,
.stage_finished {
  border-radius: 10px;
  border: 1px solid black;
  padding: 5px;
  font-weight: bold;
}

.stage_pending {
  background-color: #FFA07A;
}

.stage_infer_schema {
  background-color: #8A2BE2;
  color: white;
}

.stage_loading_schema {
  background-color: #BDB76B;
}

.stage_insert_data {
  background-color: #0000FF;
  color: white;
}

.stage_finished {
background-color: #3CB371;
}

// .file-name {

// }

// .file-path {

// }

// .file-size {

// }

// .row_count {

// }

.status {
  margin-top: 10px;
  margin-bottom: 10px;
}

.overall-status {
  text-transform: capitalize;
  border: 1px solid #FAEBD7;
  background-color: #FAEBD7;
  border-radius: 15px;
  padding: 5px;
  font-variant: small-caps;
  font-weight: bold;
  font-style: italic;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.config-page {
  background-color: #f8f9fa;
}

.tab-navbar{
  font-size: 1.5em;
  font-weight: bold;
  font-variant: small-caps;
  font-style: oblique;
  background-color: white;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.legend-heading {
  align-self: center;
}

.legend{
  position: absolute;
  flex-direction: column;
  margin: 10px;
  width: 13%;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(201,209,230,.5), 0 7px 20px rgba(201,209,230,.75);
  background-color: #fff;
  padding: 1rem;
}

.legend-item{
  display: flex;
  margin: 10px;
  font-size: 1.3 em;
  border-radius: 5px;
  font-weight: bold;
}

.legend-heading{
  font-weight: bold;
  font-style: italic;
}

.legend-text-item{
  width: 90%;
  align-self: flex-start;
  display: inline-block;
}

.legend-color-item{
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
}

.flex-item {
  margin: 20px;
  width: 300px;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(201,209,230,.5), 0 7px 20px rgba(201,209,230,.75);
  background-color: #fff;
  padding: 1rem;
}

.flex-item input{
  font-size: 1.7em;
}
.check-box-input{
  margin-top: 10px !important;
}

.popup{
  cursor: help;
}

/* LiveView specific classes for your customizations */
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.phx-no-feedback.invalid-feedback, .phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
