.csv2sql-logo {
  min-width: 100px;
  margin: 1rem;
  display: inline-block;
}

#main-nav-header{
  background-color: #4a4473;
}

.nav-header{
  display: inline-block;
  color: white;
  font-size: 2.5rem;
  font-variant: small-caps;
  font-weight: bold;
  font-style: italic;
  position: absolute;
  top: 20px;
}

.csv2sql-logo img {
  height: 50px;
  width: auto;
  display: block;
}

.tab-navbar{
  font-size: 1.5em;
  font-weight: bold;
  font-variant: small-caps;
  font-style: oblique;
  background-color: white;
}
