
.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.choose-db-type {
  text-align: center;
  width: 700px;
  margin: auto;
  margin-bottom: 50px;
  position: relative;
  top: 20px;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(201,209,230,.5), 0 7px 20px rgba(201,209,230,.75);
}

.toggle-configs {
  position: absolute;
  flex-direction: column;
  right: 2%;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(201,209,230,.5), 0 7px 20px rgba(201,209,230,.75);
  background-color: #fff;
  margin: 30px;
  width: 250px;
  padding-top: 20px;
}

.toggle-config-item { 
  margin: 10px;
  border-bottom: 1px dotted grey;
}

.toggle-config-item:last-of-type {
  border: none;
}

.toggle-config-text {
  font-weight: bold;
  font-size: 1.5em;
  margin-right: 15px;
}

.toggle-config-switch {
  margin-left: 33%;
  display: block;
  margin-bottom: 15px;
}

.database-radio {
  display: inline;
  margin-left: 20px;
}

.database-radio-input {
  display: inline-block;
}

.legend-heading, .toggle-config-heading {
  align-self: center;
  font-weight: bold;
  font-style: italic;
}

.legend{
  position: absolute;
  flex-direction: column;
  margin: 30px;
  width: 13%;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(201,209,230,.5), 0 7px 20px rgba(201,209,230,.75);
  background-color: #fff;
  padding: 1rem;
}

.legend-item{
  display: flex;
  margin: 10px;
  font-size: 1.3 em;
  border-radius: 5px;
  font-weight: bold;
}

.legend-text-item{
  width: 90%;
  align-self: flex-start;
  display: inline-block;
}

.legend-color-item{
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
}

.flex-item {
  margin: 20px;
  width: 300px;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(201,209,230,.5), 0 7px 20px rgba(201,209,230,.75);
  background-color: #fff;
  padding: 1rem;
}

.flex-item input{
  font-size: 1.7em;
}
.check-box-input{
  margin-top: 10px !important;
}

.popup{
  cursor: help;
}
